<section>
  <form [formGroup]="applicantForm" (ngSubmit)="onSubmit()" class="col s12">
              <div class="input-field col s6" >
                <input  type="text"  formControlName='one' #picker1 >
                <label>Початок</label>
              </div>
              <div class="input-field col s6" >
                <input type="text" formControlName='two' #picker2  >
                <label>Кінець</label>
                </div>
                <div class="input-field col s12">
                  <input id="description" type="text" class="validate input-field col s12" formControlName='description'>
                  <label for="description">Примітка</label>
                </div>
                <div class="buttonrow">
                <button type="submit" class="waves-effect waves-light btn-large"[disabled]="owner || !isValid">Здати в оренду</button>&nbsp;
                <!-- <button type="submit" class="waves-effect waves-light btn-large " [disabled]="!owner">Зняти в аренду</button> -->
                </div>
  </form>
  <div class="container">
    <div class="row">
       <div class="col s12 " >
    <h5 class="center">Ваші поточні бронювання</h5>
    <table class="cinereousTable striped responsive-table highlight" >
        <thead>
        <tr>
        <th>Термін</th>
        <th>Статус</th>
        <th>Бронювання з</th>
        <th>Бронювання по</th>
        <th class=center>Управління</th>

        <th></th>
        </tr>
        </thead>
        <tbody >

     <tr *ngFor=" let i of dataRent" >
        <td>{{i.termstatus ? 'новий':'старий'}}</td>
        <td>{{i.confirmstatus ? 'підтвержено' : 'відхилено'}}</td>
        <td>{{i.from | date:'dd.MM.yyyy'}}</td>
        <td>{{i.to | date:'dd.MM.yyyy'}}</td>
        <td><button type="button" class="waves-effect waves-light btn " (click)="confirm(i._id)">Підтвердити</button></td>
        <td><button type="button" class="waves-effect waves-light btn red" (click)="reject(i._id)">Відхилити</button></td>
        </tr>
        </tbody>
        </table>
</div>
</div>
</div>
</section>
