<div class="container-fluid">
  <div class="row">
      <h2 class="flow-text center">Про сервіс</h2>
    <div class="col s12">
        
       <div class="col s4">
          <div class="rules">
                      
            <ul class="collapsible" #rules>
                <li>
                  <div class="collapsible-header"><i class="material-icons">toc</i>Правила для орендарів</div>
                  <div class="collapsible-body"><span><ol>
                    <li>Для користування сервісом потрібна реєстрація.</li>
                    <li>З підключених до сервіса паркінгів вибираєте для вас зручний.</li>
                    <li>Бронюєте з наданих варіантів на неохідний термін.</li>
                    <li>Очікуєте підтверження власника паркінгу.</li>
                    <li>Після підтверження вам надсилається лист на вказану електронну адресу.</li>
                    <li>Телефонуєте власнику паркомісця і домовляєтесь про деталі.</li>
                    <li>Всі розрахунки тільки з власником.</li>
                  </ol></span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">toc</i>Правила для арендодавців</div>
                  <div class="collapsible-body"><span><ol>
                      <li>Якщо ваш паркінг не зареєстрований в сиcтемі напишіть нам.</li>
                      <li>Зареєструйтесь в системі.</li>
                      <li>Прикріпіть файл документа який підтвержує право власності на паркомісце.</li>
                      <li>Отримавши лист на електронну почту про бронювання вашого місця, дайте підтверження чи відхиліть пропозицію.</li>
                      <li>Після підтверження ваш номер телефону буде надісланий заявникові для подальших домовленностей.</li>
                  </ol></span></div>
                </li>
                <!-- <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li> -->
              </ul>
          </div>
       </div>
       <div class="col s8">

        <div class="parallax-container par" >
            <div #parallax1 class="parallax"><img src="/assets/images/parking1.jpg"></div>
          </div>
          <div class="section white">
            <div class="row container">
              <h4 class="header">Сервіс з бронювання паркомісць.</h4>
              <i><span class="grey-text text-darken-3 lighten-3">Ми не надаємо послуги. Ми тільки допомагаємо знайти зацікавлених сторін для взаємовигідної співпарці.
                                                             Якщо у вас є пропозиція чи питання пишіть нам і наша підтримка звяжеться з вашим представником</span></i>
            </div>
          </div>
          <div class="parallax-container">
            <div  #parallax2 class="parallax"><img src="/assets/images/parking2.jpg"></div>
          </div>
       </div>

    </div>

  </div>
  </div>
