
<main>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Паркінг сервіс</h1>
        <div class="row center">
          <h5 class="header col s12 light">Сервіс з пошуку та оренди вільного  паркомісця в паркінгу</h5>
        </div>
        <div class="row center">
          <button type="button"  id="download-button" class="btn-large waves-effect waves-light teal lighten-1" (click)=firstEnter()>Вперед на паркінг</button>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/assets/images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Мета створення сервісу</h5>

            <p class="light">Створенний як для власників паркомісць так і орендарів з метою виваженного та економічного підходу розподілення вільних паркомісць. Це дає смогу компенсувати власникові частину коштів на утримання місця в паркінгу.   </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Обьеднання власників та користувачів</h5>

            <p class="light">Для користування сервісом достатньо зареєструватися як власник паркомісця чи як корстувач для винаймання паркомісця на термін запропонований власником. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Як це працює</h5>

            <p class="light">Власник паркомісця надає згоду на здачу в аренду свого паркомісця на визначений термін. Зацікавлена особа бронює запрпоноване паркомісце та домовляється з власником про деталі оренди.  </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Прагнемо допомогти використати ваші ресурси в ваших інтересах.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Як це працює більш детально.</h4>
          <p class="left-align light">Власник паркомісця має можливість здавати своє паркомісце на визначений термін чи час. Це може бути денний період
                                      коли ви на роботі, подобово коли в відпусці чи відряжденні та на більш довший період. При цьому місце не залишається порожнім
                                      та може приносити компенсацію за сплату в утриманні паркінгу, коли ви його здаєте.<br>
                                      Зацікавлена особа при наявності вільних місць, може ставити машину на термін визначений в пропозиції, як це залишення машини біля метро по дорозі на роботу, при відряжденні чи відпусці.<br>
                                      В разі підтверження чи бронювання вільного місця, транспортний засіб завжди буде знаходитись в закритому приміщенні та під наглядом чергового по паркінгу.

          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Запрошуэмо до співпраці інші паркінги та стоянки з метою виваженного та раціонального використання паркомісць.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../assets/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
</main>

<div id="modal1" class="modal" #modalEnter>
  <div class="modal-content">
    <h4>Ви вже з нами?</h4>
    <div class="fixed-action-btn">
      <button class="waves-effect waves-light btn-large" type="button" (click)=openYes()>Так</button>
      <button class="waves-effect waves-light btn-large" type="button"(click)=openNo()>Ні</button>
    </div>
  </div>
</div>

<div id="modal" class="modal" #login>
  <div class="modal-content">
    <h4>Вхід на сайт </h4>
  </div>
     <form [formGroup]="loginForm" (ngSubmit)='onSubmitLogin()' class="col s12">
        <div class="input-field col s12">
            <input id="email-log" type="email" class="validate input-field col s12" formControlName='email'>
            <label for="email-log">Email</label>
          </div>
          <div class="input-field col s12">
              <input  id="password-log" type="password" class="validate" formControlName='password'>
              <label for="password-log">Пароль</label>
            </div>
        <div class="btn-group">
            <button [disabled]="loginForm.invalid || loginForm.disabled" type="submit" class="waves-effect waves-light btn-large">Авторизуватись</button>
            <button  type="button" class="modal-close waves-effect waves-blue waves-light btn-large">Відміна</button>
          </div>
     </form>

</div>


<!--registration-->
 <div id="modal" class="modal " #registration>
  <div class="modal-content">
    <h4>Реєстрація </h4>
  </div>
     <form [formGroup]="registrationForm" (ngSubmit)=onSubmitRegister() class="col s12" >
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="personname" type="text" class="validate input-field col s12" formControlName='name' [ngClass]="{'invalid':registrationForm.get('name').invalid && registrationForm.get('name').touched}">
            <label for="personname">Ім'я</label>
            <span class="red-text" *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched">
                <span *ngIf="registrationForm.get('name').errors['required']">Обов'язкове для заповнення</span>
            </span>
          </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">contact_mail</i>
            <input id="email" type="email" class="validate input-field col s12" formControlName='email' [ngClass]="{'invalid':registrationForm.get('email').invalid && registrationForm.get('email').touched}">
            <label for="email">Email</label>
            <span class="red-text" *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
                <span *ngIf="registrationForm.get('email').errors['required']">Обов'язкове для заповнення</span>
                <span *ngIf="registrationForm.get('email').errors['email']">Невірний формат поля</span>
            </span>
          </div>
          <div class="input-field col s12">
              <i class="material-icons prefix">vpn_lock</i>
              <input  id="password" type="password" class="validate" formControlName='password' [ngClass]="{'invalid':registrationForm.get('password').invalid && registrationForm.get('password').touched}">
              <label for="password">Пароль</label>
              <span class="red-text" *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">
                  <span *ngIf="registrationForm.get('password').errors['required']">Обов'язкове для заповнення</span>
                  <span *ngIf="registrationForm.get('password').errors['minlength']">Не менше шести символів</span>
              </span>
            </div>

            <label class="input-field col s12">
                  <input type="checkbox"  [value]='checkOwner' (change)="onChanges()" formControlName="owner"/>
                  <span>Власник</span>
              </label>

              <div formGroupName='information' class="tempory">
                     <div class="input-field col s12 "     [style.display]="checkOwner ? 'block' :'none'" [ngClass]="{'invalid':registrationForm.get('information.address').invalid && registrationForm.get('information.address').touched}" >
                        <div id="parking-city" class="input-field ">
                            <select formControlName="city" class="browser-default" #selectcity >
                              <option  [ngValue]="''" disabled selected  >Виберіть місто</option>
                              <option  [ngValue]="item" *ngFor="let item of parkingCity" >{{item}}</option>
                            </select>
                            <!-- <label>Місто</label> -->
                            <span class="red-text" *ngIf="registrationForm.get('information.city').invalid && registrationForm.get('information.city').touched">
                                <span *ngIf="registartionForm.get('information.city').errors['required']">Обов'язкове для заповнення</span>
                            </span>
                          </div>
                          <div id="parking-district" class="input-field ">
                              <select formControlName="district" class="browser-default" #selectdistrict >
                                <option  [ngValue]="''" disabled selected  >Виберіть район</option>
                                <option  [ngValue]="item" *ngFor="let item of parkingDistrict" >{{item}}</option>

                              </select>
                              <!-- <label>Район</label>  -->
                              <span class="red-text" *ngIf="registrationForm.get('information.district').invalid && registrationForm.get('information.district').touched">
                                  <span *ngIf="registartionForm.get('information.district').errors['required']">Обов'язкове для заповнення</span>
                              </span>
                            </div>
                      <div id="parking-address" class="input-field">
                      <select formControlName="address" class="browser-default" #select (change)="getId($event)">
                        <option   [ngValue]="''" disabled selected  >Виберіть адресу</option>
                        <option   [value]="item.street + ' ' + item.building + ',' + item._id"  *ngFor="let item of parkingAddress" >{{item.street + ' ' + item.building}}</option>

                      </select>
                      <!-- <label>Адреса паркінга</label> -->
                      <span class="red-text" *ngIf="registrationForm.get('information.address').invalid && registrationForm.get('information.address').touched">
                          <span *ngIf="registartionForm.get('information.address').errors['required']">Обов'язкове для заповнення</span>
                      </span>
                    </div>
                    </div>

            <ng-template [ngIf]="checkOwner">


                    <div class="input-field col s12">
                        <i class="material-icons prefix">phone</i>
                        <input id="phone" type="text" class="validate input-field col s12" formControlName='phone' [ngClass]="{'invalid':registrationForm.get('information.phone').invalid && registrationForm.get('information.phone').touched}">
                        <label for="phone">Телефон</label>
                        <span class="red-text" *ngIf="registrationForm.get('information.phone').invalid && registrationForm.get('information.phone').touched">
                            <span *ngIf="registrationForm.get('information.phone').errors['required']">Обов'язкове для заповнення</span>
                        </span>
                      </div>
                      <div class="input-field col s12">
                          <i class="material-icons prefix">directions_car</i>
                          <input id="place" type="number" class="validate input-field col s12" formControlName='place' [ngClass]="{'invalid':registrationForm.get('information.place').invalid && registrationForm.get('information.place').touched}">
                          <label for="place">Місце</label>
                          <span class="red-text" *ngIf="registrationForm.get('information.place').invalid && registrationForm.get('information.place').touched">
                              <span *ngIf="registrationForm.get('information.place').errors['required']">Обов'язкове для заповнення</span>
                              <span *ngIf="registrationForm.get('information.place').errors['pattern']">Тільки цифри не більше 2</span>
                          </span>
                        </div>
                        <div class="upload-btn-wrapper">
                            <input type="file" name="myfile" class="dn" (change)="onFileUpload($event)" #input formControlName="imageSrc"/>
                            <button class="btn" type="button" (click)="triggerClick()" >Виберіть файл зображення</button>
                            <div class="mx-auto">
                                <img [src]="imagePrevie" class="rounded z-depth-1-half document h200" *ngIf="imagePrevie" >
                              </div>
                          </div>
            </ng-template>
          </div>
            <div class="btn-group-reg">
            <button  type="submit" class="waves-effect waves-light btn-large" >Реєстрація</button>
            <button  type="button" class="modal-close waves-effect waves-blue waves-light btn-large" (click)="close()">Відміна</button>
          </div>
     </form>

</div>

