<section>
  <div class="container-fluid">
    <div class="row">
      <div  class="col s4 filter">
          <label>Місто</label>
          <div id="city" >
              <select  #selectcity class="browser-default">
                <option  [ngValue]="''" disabled selected  >Виберіть місто</option>
                <option  [ngValue]="item" *ngFor="let item of city" >{{item}}</option>
              </select>

            </div>
            <label>Район</label>
            <div id="district" >
                <select #selectdistrict (change)="findAddress($event)" class="browser-default">
                  <option   [ngValue]="''" disabled selected  >Виберіть район</option>
                  <option   [ngValue]="item" *ngFor="let item of district"  >{{item}}</option>
                </select>
              </div>
              <label>Адреса</label>
              <div id="street">
                  <select  #selectstreet class="browser-default" (change)="findPlace($event)" >
                    <option  [ngValue]="''" disabled selected >Виберіть адресу</option>
                    <option  [ngValue]="i"  *ngFor="let i of newdata">{{i}}</option>
                  </select>
                </div>
    </div>

    <div class="col s8 details" *ngIf="tempalateParam">
        <div class="card" >
            <div  class="row">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/office.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Інформація про паркінг по вул.{{tempalateParam}}<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Пропозиції власників<i class="material-icons right">close</i></span>
                  <div *ngFor="let i of parkingItem; let ind=index" class="onecard">
                  <ul >
                    <li>Власник: {{i.name}}</li>
                    <li>Місце: {{i.place}}</li>
                    <li>Вільне з <a>{{i.from}}</a>  по  <a>{{i.to}}</a></li>
                    <li>Додатково: {{i.description}}</li>
                  </ul>
                  <button type="button" class="waves-effect waves-light btn-small">Бронювати</button>
                </div>
                </div>
              </div>
              </div>
        </div>
    </div>
  </div>
  </div>

</section>
